.footer {
    display: flex;
    justify-content: space-between;
    background-color: #0067A3;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.counts {
	display: flex;
}

.count {
	position: relative;
	margin-right: 30px;
}

.count + .count::before {
	content: '';
	display: block;
	background: #fff;
	width: 1px;
	height: 100%;
	position: absolute;
	left: -15px;
	top: 0;
}

.copy {
	margin-left: auto;
}

@media screen  and (min-width: 375px) and (max-width: 487px) {
	.footer {
		display: none;
	}
	
}