.form {

}

.buttons {
    display: flex;
    justify-content: space-between;
}

.submit {
    background-color: #0079BF;
}

.cancel {
    background-color: #002cbb;
}

.valid {
    color: grey;
    margin: 5px 0;
}